:root {
    --ifm-color-primary: #667fff;
    --ifm-color-primary-dark: #4261ff;
    --ifm-color-primary-darker: #3052ff;
    --ifm-color-primary-darkest: #0029fa;
    --ifm-color-primary-light: #8a9dff;
    --ifm-color-primary-lighter: #9cacff;
    --ifm-color-primary-lightest: #d1d9ff;
}

[data-theme='dark'] {
    --ifm-color-primary: #f0db4f;
    --ifm-color-primary-dark: #edd532;
    --ifm-color-primary-darker: #ecd223;
    --ifm-color-primary-darkest: #ceb512;
    --ifm-color-primary-light: #f3e16c;
    --ifm-color-primary-lighter: #f4e47b;
    --ifm-color-primary-lightest: #f8eda7;
}